<!-- form to create a goal for a user. Need to pass in user id-->

<%= form_for [@user, @goal] do |f| %>

  <%= f.label :life_area, "Life Area (required)", :class => 'class_life_area' %>
  <%= f.text_field :life_area %><br />

  <%= f.label :target_date, "Target date (dd-mm-yyyy) (required)"%>
  <%# f.text_field :target_date %><br />

<div class="input-append date" id="dp3" data-date="13-06-2013" data-date-format="dd-mm-yyyy">
  <!-- <input class="span8" size="16" type="text" value="13-06-2013" readonly> -->
  <%= f.text_field :target_date, html: { class: 'span8', size: '16', value: '13-06-2013', readonly: true } %>
  <span class="add-on"><i class="icon-th glyphw"></i></span>
</div>


  <%= f.label :text, "Goal (required)" %>
  <%= f.text_field :text %><br />

  <%= f.label :strategy, "Strategy" %>
  <%= f.text_area :strategy, :size => "7x2" %><br />  

  <%= f.submit :class => "button", :id => "btn", :style => "float:left"%>
  <%= f.submit "Cancel", :name=> "commit", :value=>"Cancel", :class => "button", :id => "btn", :style => "float:left; color:red; margin-left:20px"%>

  <!--%= link_to "Cancel", user_goals_path(current_user.id), :notice => "Edit cancelled" %--> 
  
<% end %>