<!--Top right - login-->
<div id = "top-right">
  <% if current_user %>
    <em>Logged in as <%= current_user.email %> </em>&nbsp-&nbsp
    <%= link_to "Log out", log_out_path %>
  <% else %>
    <%= link_to "Sign up", sign_up_path %> or 
    <%= link_to "Log in", log_in_path %>
  <% end %>
</div>    

<div id = "top-right" style="clear:both">
  <a href="#choose_picture">Choose picture and stop slideshow</a>
</div>  

<!--logo-->
<%= link_to_unless_current image_tag('LifeCreator_image.png', :id=> "logo", :class => "logo", :height => "auto", :width => "300"), root_path %>

<!--nav tabs-->
<ul class="nav nav-tabs">
  <% if current_user %>
    <li><%= link_to "Values", values_path %></li>
    <li><%= link_to "Goals", user_goals_path(current_user.id) %></li>
    <li><%= link_to "Habits", habits_path %></li>
    <li><%= link_to "Beliefs", beliefs_path %></li>
  <% else %>
    <li><%= link_to "Life Creator", root_path %></li>
    <li><%= link_to "Why", why_path %></li>
    <li><%= link_to "Features", features_path %></li>
    <li><%= link_to "Reviews", reviews_path %></li>
    <li><%= link_to "Buy Now", buy_now_path %></li>
    <li><%= link_to "Help", help_path %></li>
    <li><%= link_to "About Us", about_us_path %></li>
  <% end %>  
</ul>

