<%= link_to_unless_current image_tag('Life_Creator_logo_min.gif'), root_path %>
<ul class="nav nav-tabs">
  <li><%= link_to "Values", values_path %></li>
  <li><%= link_to "Goals", goals_path %></li>
  <li><%= link_to "Habits", habits_path %></li>
	<li><%= link_to "Character", character_traits_path %></li>
	<li><%= link_to "Beliefs", beliefs_path %></li>

</ul>
    