<div id = "top-right" style="float:right; color:black; background-color:#f8f7e5; border-radius: 5px; padding: 2px;">
  <% if current_user %>
    Logged in as <%= current_user.email %> &nbsp-&nbsp
    <%= link_to "Log Out", log_out_path %>
  <% else %>
    <%= link_to "Sign Up", sign_up_path %> or 
    <%= link_to "Log In", log_in_path %>
  <% end %>
</div>    

    
<%= link_to_unless_current image_tag('LifeCreator_image.png', :class => "logo", :height => "auto", :width => "300"), root_path %>
<ul class="nav nav-tabs">
  <li><%= link_to "Values", values_path %></li>
  <% if current_user %>
      <li><%=  link_to "Goals", user_goals_path(current_user.id) %></li>
    
    <% else %>
    <% end %>
  <li><%= link_to "Habits", habits_path %></li>
  <li><%= link_to "Character", character_traits_path %></li>
  <li><%= link_to "Beliefs", beliefs_path %></li>
</ul>

