<div style="float:right; font-weight:bold; color:white">
  <% if current_user %>
    Logged in as <%= current_user.email %> &nbsp
    <%= link_to "Log Out", log_out_path %>
  <% else %>
    <%= link_to "Sign Up", sign_up_path %> <span style="color:white">or</span> 
    <%= link_to "Log In", log_in_path %>
  <% end %>
</div>    

    
<%= link_to_unless_current image_tag('Life_Creator_logo_min.gif'), root_path %>
<ul class="nav nav-tabs">
  <li><%= link_to "Values", values_path %></li>
  <li><%= link_to "Goals", goals_path %></li>
  <li><%= link_to "Habits", habits_path %></li>
	<li><%= link_to "Character", character_traits_path %></li>
	<li><%= link_to "Beliefs", beliefs_path %></li>
</ul>

