<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= csrf_meta_tags %>
    <title>Goals</title>

    <!--%= include_gon %-->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <!--JS is included at the top here, as there is an issue with re-rendering the modal box for a new goal after invalid user input. A parameter "modal=true" is passed from the controller to the index view if there is invalid input, so that the modal can be re-generated without a link or button click. An uncaught reference error results unless jQuery is called before the code in the index view is read-->
    <%= javascript_include_tag "application" %>
  </head>
 
  <body>
    <header id="mainHeader">
      <div class="container-fluid">
        <%= render 'layouts/navigation' %>
      </div>
    </header>


    <div id="main" role="main">
      <div class="container-fluid">       
        <div class="row-fluid">
          <div class="span12">
            <%= render 'layouts/messages' %>

            <%= yield %>
            
          </div>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
 
      <footer class="footer">
        <div class="container-fluid">
          <div class="row-fluid">
            <!--Buttons for pics, using Backstretch plugin. Click triggers JS-->
            <p id="choose_picture">Click a number to show an image (stops slideshow)</p>
            <button id="10" style="width:2.5em; text-align:center;">10</button>
            <button id="9" style="width:1em;">9</button>
            <button id="8" style="width:1em;">8</button>
            <button id="7" style="width:1em;">7</button>
            <button id="6" style="width:1em;">6</button>
            <button id="5" style="width:1em;">5</button>
            <button id="4" style="width:1em;">4</button>
            <button id="3" style="width:1em;">3</button>
            <button id="2" style="width:1em;">2</button>
            <button id="1" style="width:1em;">1</button>
            <button id="None" style="width:3.75em; text-align:left;">None</button>
          </div>
          <div id = "bottom-right">
             <a href="#mainHeader" id="clickMe">Hide / show content</a>
          </div>

          <div id = "bottom-right">
            <a href="#logo">Return to top</a>
          </div>

          <div class="row-fluid">
              <p class="muted credit text-right" >
                <%= link_to_unless_current "Terms of Service", terms_path %><br>
                <%= link_to_unless_current "Privacy Policy", privacy_path %><br>
                <%= link_to_unless_current "About Us", about_us_path %><br>
                <em>&copy; 2013 Life Capital Ltd</em><br>
              </p>    
              </div>

        </div>
      </footer>

  </body>     
</html>

