<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= csrf_meta_tags %>
    <title>Goals</title>

    <%= include_gon %>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
 
  <body>
    <header>
      <div class="container-fluid">
        <%= render 'layouts/navigation' %>
      </div>
    </header>

    <div id="main" role="main">
      <div class="container-fluid">       
        <div class="row-fluid">
          <div class="span12">
            <%= render 'layouts/messages' %>

            <%= yield %>
            
          </div>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
 
      <footer class="footer">
        <div class="container-fluid">
          <div class="row-fluid">
            <p class="muted credit span12 text-right" style="padding: 15px 0; margin-top: 10px">
              <%= link_to_unless_current "Terms of Service", terms_path %><br>
              <%= link_to_unless_current "Privacy Policy", privacy_path %><br>
              <%= link_to_unless_current "About Us", about_us_path %><br>
              <em>&copy; 2013 Life Capital Ltd</em><br>
            </p>               
          </div>
        </div>
      </footer>

    <%= javascript_include_tag "application" %>
  </body>     
</html>

